<style>
    @font-face {
        font-family: 'Ruritania';
        src: url({{ "fonts/ruritania/Ruritania.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Deutsche Zierschrift';
        src: url({{ "fonts/deutsche_zierschrift/DeutscheZierschrift.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'OldeEnglish';
        src: url({{ "fonts/olde_english/OldeEnglish.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }
    
</style>